.post-navigation {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  @include center-x;
  bottom: 2rem;
  
  .page-link {
    display: inline-block;
    vertical-align: text-bottom;
    position: relative;
    a {
      color: $white;
      text-decoration: none !important;
      position: relative;
    }
    &.-prev {
      transform: none;
      @include transition($transition);
      a {
        left: -6rem;
        &:before {
          content: "\f10f";
          font-family: 'tmbr-icons';
          font-size: 1.2rem;
          @include center-y;
          left: 0;
          color: $black;
        }
      }
      &:hover {
        transform: translate3d(-10px,0,0);
      }
    }
  
    &.-next {
      transform: none;
      right: -6rem;
      @include transition($transition);
      a {
        &:after {
          content: "\f10a";
          font-family: 'tmbr-icons';
          @include center-y;
          right: 0;
          font-size: 1.2rem;
          color: $black;
        }
      }
      &:hover {
        transform: translate3d(10px,0,0);
      }
    }
  }
  
.counter {
  display: inline-flex;
  padding: 0 1rem;
  @include heading-font();
  .post-number {
    font-size: 4rem;
  }
  
  .total {
    margin-top: 1rem;
    font-size: 1.8rem;
  }
}
  
.series-link {
  position: relative;
  @include light-heading();
  font-size: 1.2rem;
  text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
  
  @include respond-to($screen-md){
    margin-top: 4rem;
    position: relative;
    transform: none;
    left: auto;
  }
}