$slick-arrow-color: $primary !default;
$slick-dot-color: $white !default;
$slick-dot-color-active: $white !default;
$slick-dot-size: 28px !default;
$slick-opacity-default: 1 !default;
$slick-opacity-on-hover: .75 !default;
$slick-opacity-not-active: 1 !default;



/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 60px;
    width: 60px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    &:hover, &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        &:before {
            opacity: $slick-opacity-on-hover;
        }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
    &:before {
        font-family: $slick-font-family;
        font-size: 32px;
        line-height: 1;
        color: $slick-arrow-color;
        opacity: $slick-opacity-default;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.slick-prev {
    left: -25px;
    [dir="rtl"] & {
        left: auto;
        right: -25px;
    }
    &:before {
        content: $slick-prev-character;
        [dir="rtl"] & {
            content: $slick-next-character;
        }
    }
}

.slick-next {
    right: -25px;
    [dir="rtl"] & {
        left: -25px;
        right: auto;
    }
    &:before {
        content: $slick-next-character;
        [dir="rtl"] & {
            content: $slick-prev-character;
        }
    }
}

/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: 120px;
    list-style: none;
    display: block;
    text-align: right;
    padding: 0;
    margin: 0;
    width: 100%;
    padding-right: 4rem;
    li {
        position: relative;
        display: inline-block;
        height: 30px;
        width: 30px;
        margin: 0 5px;
        padding: 5px;
        cursor: pointer;
        button {
            background-color: transparent;
            display: block;
            height: 1px;
            width: 30px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            padding: 2px;
            border: 3px $slick-dot-color solid;
            opacity: $slick-opacity-not-active;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
            }
        }
        &.slick-active button {
            border-color: $slick-dot-color-active;
            background-color: $slick-dot-color-active;
            opacity: $slick-opacity-default;
        }
    }
    
    @include respond-to($screen-sm) {
      display: none;
    }
}
