.flex-screen {
  .screen-frame {
    position: relative;
    margin-top: space(6);
    border-radius: 6px;
    border: 8px solid #9B9B9B;
    box-shadow: 33px 33px 13px -28px rgba(0,0,0,0.75);

    img {
      @include fill;
      border-radius: 2px;
    }

    .hero {
      display: grid;
      position: relative;
      // min-height: clamp(500px,  100vmin - var(--banner-height) - var(--header-height), 1200px);
      // padding-top: calc(var(--container-space) * 2);
      // padding-bottom: calc(var(--container-space) * 2);

      &.-mobile {
        display: none;
      }
    }

    @include below('sm') {
      .hero {
          display: none;
        &.-mobile {
          display: grid;
        }
      }
    }
  }
}