.flex-screen {
  .screen-frame {
    position: relative;
    margin-top: space(6);
    border-radius: 10px;
    border: 15px solid #444;
    box-shadow: 33px 33px 13px -28px rgba(0,0,0,0.55);

    img {
      @include fill;
      border-radius: 2px;
    }

    .hero {
      display: grid;
      position: relative;
    }
  }
}