@font-face {
	font-family: "tmbr-icons";
	src: url("tmbr-icons.woff2?f3de3fb3db5898ee1da6396637a16a6d") format("woff2"),
url("tmbr-icons.woff?f3de3fb3db5898ee1da6396637a16a6d") format("woff"),
url("tmbr-icons.svg?f3de3fb3db5898ee1da6396637a16a6d#tmbr-icons") format("svg");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: tmbr-icons !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-angle-left:before {
	content: "\f101";
}
.icon-angle-right:before {
	content: "\f102";
}
.icon-dot:before {
	content: "\f103";
}
.icon-phone:before {
	content: "\f104";
}
.icon-facebook:before {
	content: "\f105";
}
.icon-instagram:before {
	content: "\f106";
}
.icon-mail:before {
	content: "\f107";
}
.icon-pin:before {
	content: "\f108";
}
.icon-twitter:before {
	content: "\f109";
}
.icon-arrow-left:before {
	content: "\f10a";
}
.icon-plus:before {
	content: "\f10b";
}
.icon-minus:before {
	content: "\f10c";
}
.icon-sw:before {
	content: "\f10d";
}
.icon-tumblr:before {
	content: "\f10e";
}
.icon-arrow-right:before {
	content: "\f10f";
}
.icon-email:before {
	content: "\f110";
}
