@font-face {
    font-family: 'Elegant-Lux';
    src: url('../fonts/ElegantLux-Mager.woff2') format('woff2'),
        url('../fonts/ElegantLux-Mager.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}





