.footer {
	width: 100%;
	padding: 2rem 2rem 4rem;
	text-align: center;
	@include light-heading();
	
	.footer-links  {
		.footer-link {
			margin: 0 1rem;
		}
	}
	a {
		color: $black;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	.copyright {
		margin-top: 1rem;
	}
	
	@include respond-to($screen-xs){
		.footer-links  {
			.footer-link {
				width: 100%;
				margin: 1rem 0;
				display: inline-block;
				font-size: 1.1rem;
			}
		}
	}
}


