.footer {
	padding: 4rem;
	width: 100%;
	background-color: $primary;
	color: $white;
	display: flex;
	flex-wrap: wrap;
	font-size: 1.1rem;
	line-height: 1.8rem;

	
	a {
		color: $white;
	}
	
	.footer-column {
		margin: 0 2rem;
		width: calc(33% - 4rem);
	}

	.copyright {
		margin-top: 2rem;
		width: 100%;
		text-align: center;
		font-size: .9rem;
		a {
			text-decoration: underline;
		}
	}
	
	@include respond-to($screen-sm){
		padding: 4rem 2rem;
		display: inline-block;
		text-align: center;
		.footer-column {
			margin: 2rem 0;
			width: 100%;
		}
	}
}


