.navbar-brand {
	@include absolute($t: 3rem, $l: 3rem);
	z-index: 121;
	width: 70px;
	display: inline-block;
	@include transition($transition);
	.icon {
		line-height: 1;
		font-size: 4rem;
		color: $white;
		opacity: 1;
		@include transition($transition);
		&:hover {
			opacity: .6;
		}
	}
	@include respond-to($screen-xs){
		@include absolute($t:2rem, $l: 2rem);
		.icon {
			font-size: 3rem;
		}
	}
	
	&.scrolled {
		position: fixed;
		top: 1rem;
		left: 1rem;	
		.icon {
			font-size: 2.5rem;
		}
	}	
}
		
.navbar-hamburger {
	display: block;
	@include absolute($t:4rem, $r: 4rem);
	width: 40px;
	z-index: 120;
	@include transition($transition);
	
	&:after, &:before, span {
		background-color: $white;
		border-radius: 3px;
		content: '';
		display: block;
		height: 2px;
		margin: 2px 0;
		@include transition(all .2s ease-in-out);
	}
	
	span {
		transform: scale(0);
	}
	&.-collapsed {
		cursor: url('../images/cursor-arrow-03.svg') 25 5, auto;
		&:after, &:before, span {
			background-color: $black;
		}
		&:before {
			transform: translateY(4px) rotate(135deg);
		}
		&:after {
			transform: translateY(-4px) rotate(-135deg);
		}
		span {
			transform: scale(0);
		}
	}
	
	@include respond-to($screen-xs){
		@include absolute($t:3rem, $r: 3rem);
	}
	
	&.scrolled {
		position: fixed;
		top: 2rem;
		right: 2rem;	
	}		
}
		
.navbar-menu {
	@include absolute($t: 0, $r:0);
	margin: 2rem;
	width: 0;
	height: calc(100% - 4rem);
	background: rgba(255, 255, 255, .9);
	z-index: 110;
	@include transition(.5s ease-in-out);
	cursor: url('../images/cursor-circle-02.svg') 25 15, auto;
	a {
		cursor: url('../images/cursor-arrow-02.svg') 25 15, auto;
	}
	
	.parent-menu {
		opacity: 0;
		@include transition($transition);
		@include center-y;
		left: 4rem;
		
		> .menu-item {
			position: relative;
			
			a {
				@include heading-font();
				font-size: 8rem;
				color: $black;
				display: block;
				position: relative;
				z-index: 10;
				line-height: 1.5;
			}
			
			&:after {
				@include absolute($b:0,$l:0);
				content: '';
				background-color: $black;
				height: 100%;
				width: 0;
				@include transition($transition);
			}
			
			&.menu-item-has-children {
				.sub-menu {
					width: 600px;
					visibility: hidden;	
					opacity: 0;
					padding: 0 2rem;
					@include absolute($l:100%, $t:0);
					@include transition($transition);
					transition-delay: 100ms;
										
					> .menu-item {
						a {
							color: $black;
							position: relative;
							font-size: 3rem;
							line-height: 1;
							margin-bottom: 2rem;
							@include light-heading();
							z-index: 10;
							padding: 1rem 0 1rem 1rem;
							&:after {
								@include absolute($b:0,$l:0);
								content: '';
								background-color: $black;
								height: 100%;
								width: 0;
								@include transition($transition);
								z-index: -1;
							}
							&:hover {
								color: $white;
								&:after {
									width: 100%;
								}
							}
						}
					}
				}
				
				> a {
					&:after {
						font-family: 'tmbr-icons';
						content: "\f10b";
						@include center-y;
						right: 1rem;
						font-size: 2rem;
					}
				}
			}

			&:hover {
				a {
					color: $white;
				}
				&:after {
					width: 100%;
				}
				
				&.menu-item-has-children {
					.sub-menu {
						visibility: visible;
						opacity: 1;
					}
				}
			}
			&.active {
				&:after {
					width: 100%;
				}
			}
		}
	}
	
	.contact-nav {
		@include transition(.5s ease-in-out);
		@include absolute($r: 20rem, $b:8rem);
		opacity: 0;
		visibility: hidden;
	  .social-links {
			display: flex;
			.social-link {
				position: relative;
				padding: .5rem 0;
				&:after {
					@include absolute($b:0,$l:0);
					content: '';
					background-color: $black;
					height: 100%;
					width: 0;
					@include transition($transition);
					z-index: -1;
				}
				
				.icon {
	        font-size: 3rem;
	        margin: 0 1rem;
					color: $black;
					line-height: 1;
					@include transition($transition);
		    }
				&:hover {
					.icon {
						color: $white;
					}
					&:after {
						width: 100%;
					}
				}
			}
	  }
	}
	
	&.-open {
		width: calc(100% - 4rem);
		.parent-menu {
			opacity: 1;
		}
		.contact-nav {
			opacity: 1;
			visibility: visible;
		}
	}
	
	@include respond-max($screen-jumbo){
		.parent-menu {
			> .menu-item {
				&.menu-item-has-children {
					.sub-menu {
						width: 600px;		
						> .menu-item {
							a {
								font-size: 2rem
							}
						}
					}
				}
			}
		}
	}
	
	@include respond-to($screen-md){
		.parent-menu {
			> .menu-item {
				a {
					font-size: 6rem;
				}
				&.menu-item-has-children {
					.sub-menu {
						width: 400px;
					}
				}
			}
		}
	}
	
	@include respond-to($screen-sm){
		&.-open {
			display: inline-block;
		}
		
		.parent-menu {
			> .menu-item {
				&:after {
					display: none;
				}
				&:hover {
					a {
						color: $black;
					}
				}
				&.menu-item-has-children {
					> a {
						&:after {
							display: none;
						}
					}
					.sub-menu {
						width: 100%;
						visibility: visible;
						opacity: 1;
						padding: 0 2rem;
						@include relative($l:0, $t:auto, $b:0);
						@include transition($transition);
						transition-delay: 100ms;
						> .menu-item {
							a {
								font-size: 2.5rem;
								line-height: 1;
								margin-bottom: .5rem;
								padding: .5rem 0;
								&:after {
									display: none;
								}
								&:hover {
									color: $black;
								}
							}
						}
					}
				}
			}
		}
	}
	@include respond-to($screen-xs){
		height: 100%;
		margin: 0;
		display: none;
		.parent-menu {
			left: 2rem;
			> .menu-item {
				> a {
					font-size: 3.25rem;
				}
				
				&.menu-item-has-children {
					.sub-menu {
						padding: 0;
						> .menu-item {
							a {
								font-size: 1.7rem;
							}
						}
					}
				}
			}
		}
		&.-open {
			width: 100%;
			display: inline-block;
		}
		.contact-nav {
			@include absolute($r: auto, $l:2rem, $b: 6rem);
			.social-links {
				.social-link {
					&:after {
						display: none;
					}
					.icon {
						font-size: 2rem;
					}
					&:hover {
						.icon {
							color: $black;
						}
					}
				}
			}
		}
	}
}

.site-header {
	&.scrolled {
		
		.navbar-brand {
			position: fixed;
			top: 1rem;
			left: 1rem;
			.icon {
				font-size: 2rem;
			}	
		}
		
		.hamburger-wrap {
			height: 4rem;
			width: 100%;
			display: inline-block;
			position: fixed;
			z-index: 120;
			background-color: $white;
			transition: none;
		}
		
		.navbar-hamburger {
			position: fixed;
			top: 1.5rem;
			right: 2rem;
			@include respond-to($screen-xs){
				right: 1rem;
			}
		}
	}
}
	
	
	











