.navbar {
	border: none;
	width: 100%;
	margin-bottom: 0;
	position: absolute;
	top: 0;
	z-index:50;
	
	.navbar-utility {
		height: 2rem;
		background-color: $primary;
		width: 100%;
		position: relative;
		.utility-list {
			@include center-y;
			right: 4rem;
			height: 100%;
			
			.utility-item {
				display: inline-block;
				height: 100%;
				padding: 0 10px;
				line-height: 2rem;
				@include transition($transition);
				.icon {
					margin-right: 5px;
					line-height: 2rem;
				}
				a {
					color: $white;
					text-transform: uppercase;
					font-size: .8rem;
				}
				
				&:hover {
					background-color: $secondary;
				}
			}
		}
	}
	
	
	.navbar-main {
		height: $menu-height;
		background-color: transparent;
		position: relative;
		
		.navbar-brand {
			height: auto;
			padding: 0;
			@include center-y;
			left: 2rem;
			z-index: 15;
			width: 160px;
			.logo {
				max-width: 100%;
				opacity: 1;
				@include transition($transition);
				&:hover {
					opacity: .6;
				}
			}
		}
		
		.navbar-hamburger {
			display: none;
			@include center-y;
			right: 2rem;
			width: 40px;
			
			&:after, &:before, span {
				background-color: $white;
				border-radius: 3px;
				content: '';
				display: block;
				height: 3px;
				margin: 7px 0;
				transition: all .2s ease-in-out;
			}
			&.-collapsed {
				&:before {
					transform: translateY(10px) rotate(135deg);
				}
				&:after {
					transform: translateY(-10px) rotate(-135deg);
				}
				span {
					transform: scale(0);
				}
			}	
		}
		
		.navbar-menu {
			@include center-y;
			right: 2rem;
			@include transition($transition);
			
			.parent-menu {
				float: right;
				margin-top: -1px;
				@include transition($transition);
				
				> .menu-item {
					display: inline-block;
					padding: 0 45px;
					position: relative;
					a {
						color: $white;
						line-height: $menu-height;
						display: block;
						text-transform: uppercase;
						position: relative;
						z-index: 10;
					}
					
					&:after {
						@include absolute($b:0,$l:0);
						content: '';
						background-color: $primary;
						height: 100%;
						width: 0;
						@include transition($transition);
					}
					
					&.menu-item-has-children {
						.sub-menu {
							width: 0;
							visibility: hidden;	
							opacity: 0;
							@include absolute($l:0);
							background: $primary;
							padding: 15px 45px;
							@include transition($transition);
							transition-delay: 100ms;
												
							> .menu-item {
								a {
									width: 300px;
									color: $white;
									&:hover {
										color: $primary;
									}
								}
							}
						}
						
						> a {
							&:after {
								content: "\2039";
								@include center-y;
								right: -15px;
								font-size: 1.4rem;
								transform:translateY(-50%) rotate(-90deg);
							}
						}
					}

					&:hover {
						a {
							color: $white;
						}
						&:after {
							width: 100%;
						}
						
						&.menu-item-has-children {
							.sub-menu {
								width: 300px;
								visibility: visible;
								opacity: 1;
								
							}
						}
					}


					&.active {
						&:after {
							width: 100%;
						}
					}
				}
			}
		}
		
		.nav-cta {
			display: inline-block;
			@include center-y;
			right: 30px;
		}
	}
	
	&.-alert-bump {
		.navbar-utility {
			width: 50%;
			float: right;
		}
		
		.navbar-main {
			margin-top: 2rem;
		}
	}
	
	/* SCROLLED  */
	
	&.scrolled {
		position: fixed;
		background-color: $primary;
		
		.alert-bar {
			background-color: $secondary;
		}
		
		.navbar-utility {
			background-color: $secondary;
			.utility-item {
				&:hover {
					background-color: $primary;
				}
			}
		}
		
		@include respond-to($screen-sm){
			.alert-bar {
				display: none;
			}
			
			&.-alert-bump {
				.navbar-main {
					margin-top: 2rem;
				}
			}
		}
		
		@include respond-to($screen-xs){
			background-color: $primary;
		}
	}
	
	
	/* RESPONSIVE */
	
	@include respond-to($screen-sm){
		
		background-color: $primary;
		
		.navbar-utility {
			background-color: $secondary;
			text-align: center;
			.utility-list { 
				@include center;
				width: 100%;
				
			}
		}
		
		.navbar-main {
			.navbar-hamburger {
				display: inline-block;
			}
			
			.navbar-menu {
				display: none;
				
				&.-open {
					display: inline-block;
					width: 100%;
					@include center-x;
					top: 75px;
					background-color: $primary;
					-webkit-overflow-scrolling: touch;
				}
				
				.parent-menu {
					float: left;
					width: 100%;
					height: 100%;
					
					> .menu-item {
						width: 100%;
						display: block;
						border-top: 1px solid #ddd;
						a {
							font-size: 1.2rem;
							color: $white;
							line-height: 60px;
						}
						
						&:after {
							display: none;
						}
						
						&:before {
							
						}
						
						&:hover {
							a {
								color: $white;
							}
						}
						
						&.menu-item-has-children {
							a {
								&:after {
									right: 0;
    							font-size: 1.9rem;
									transform:translateY(-50%) rotate(180deg);
								}
							}
							
							&.-open {
								a {
									&:after {
										transform:translateY(-50%) rotate(270deg);
									}
								}
							}

							.sub-menu {
								background-color: $primary;
								display: none;
								opacity: 1;
								visibility: visible;
								width: 100%;
								position: relative;
								text-align: left;
								padding: 0 0 15px 15px;
								.menu-item {
									a {
										color: $white;
										line-height: 30px;
									}
								}
								
								&.-open {
									display: block;
								}
							}
						}
					}
				}
			}
		}
		
		&.-alert-bump {
			.navbar-utility {
				width: 100%;
			}
			
			.navbar-main {
				margin-top: 4rem;
			}
		}
	}
	
	@include respond-to($screen-xs){
		.navbar-utility {
			.utility-list { 
				.utility-item {
					padding: 0 5px;
					a {
						font-size: .6rem;
					}
				}
			}
		}
	}

}










