.navbar-brand {
	@include absolute($t: 3rem, $l: 3rem);
	z-index: 15;
	width: 70px;
	display: inline-block;
	.logo {
		max-width: 100%;
		opacity: 1;
		@include transition($transition);
		&:hover {
			transform: perspective(500px) rotateX(5deg) rotateY(5deg);
		}
	}
}
		
.navbar-hamburger {
	display: block;
	@include absolute($t:4rem, $r: 4rem);
	width: 40px;
	z-index: 99;
	
	&:after, &:before, span {
		background-color: $white;
		border-radius: 3px;
		content: '';
		display: block;
		height: 2px;
		margin: 2px 0;
		transition: all .2s ease-in-out;
	}
	
	span {
		transform: scale(0);
	}
	&.-collapsed {
		cursor: url('../images/cursor-arrow-03.svg') 25 5, auto;
		&:after, &:before, span {
			background-color: $black;
		}
		&:before {
			transform: translateY(4px) rotate(135deg);
		}
		&:after {
			transform: translateY(-4px) rotate(-135deg);
		}
		span {
			transform: scale(0);
		}
	}	
}
		
.navbar-menu {
	@include absolute($t: 0, $r:0);
	margin: 2rem;
	width: 0;
	height: calc(100% - 4rem);
	background: rgba(255, 255, 255, .9);
	z-index: 98;
	@include transition(.5s ease-in-out);
	cursor: url('../images/cursor-circle-02.svg') 25 15, auto;
	a {
		cursor: url('../images/cursor-arrow-03.svg') 25 15, auto;
	}
	
	.parent-menu {
		opacity: 0;
		@include transition($transition);
		@include center-y;
		left: 4rem;
		
		> .menu-item {
			position: relative;
			
			a {
				@include heading-font();
				font-size: 8rem;
				color: $black;
				display: block;
				position: relative;
				z-index: 10;
				line-height: 10rem;
			}
			
			&:after {
				@include absolute($b:0,$l:0);
				content: '';
				background-color: $black;
				height: 100%;
				width: 0;
				@include transition($transition);
			}
			
			&.menu-item-has-children {
				.sub-menu {
					width: 0;
					visibility: hidden;	
					opacity: 0;
					@include absolute($l:0);
					background: $primary;
					padding: 15px 45px;
					@include transition($transition);
					transition-delay: 100ms;
										
					> .menu-item {
						a {
							width: 300px;
							color: $white;
							&:hover {
								color: $primary;
							}
						}
					}
				}
				
				> a {
					&:after {
						content: "\2039";
						@include center-y;
						right: -15px;
						font-size: 1.4rem;
						transform:translateY(-50%) rotate(-90deg);
					}
				}
			}

			&:hover {
				a {
					color: $white;
				}
				&:after {
					width: 100%;
				}
				
				&.menu-item-has-children {
					.sub-menu {
						width: 300px;
						visibility: visible;
						opacity: 1;
					}
				}
			}
			&.active {
				&:after {
					width: 100%;
				}
			}
		}
	}
	
	.contact-nav {
		@include absolute($r: 10rem, $b:8rem);
		@include transition($transition);
		transition-delay: .2s;
		opacity: 0;
	  .social-links {
			display: flex;
			.icon {
        font-size: 3rem;
        margin: 0 1rem;
	    }
	  }
	}
	
	&.-open {
		width: calc(100% - 4rem);
		.parent-menu {
			opacity: 1;
		}
		.contact-nav {
			opacity: 1;
		}
	}
	
	@include respond-to($screen-sm){
		&.-open {
			display: inline-block;
			-webkit-overflow-scrolling: touch;
		}
		
		.parent-menu {
			> .menu-item {
				width: 100%;
				display: block;
				
				&.menu-item-has-children {
					a {
						&:after {
							right: 0;
							font-size: 1.9rem;
							transform:translateY(-50%) rotate(180deg);
						}
					}
					
					&.-open {
						a {
							&:after {
								transform:translateY(-50%) rotate(270deg);
							}
						}
					}

					.sub-menu {
						background-color: $primary;
						display: none;
						opacity: 1;
						visibility: visible;
						width: 100%;
						position: relative;
						text-align: left;
						padding: 0 0 15px 15px;
						.menu-item {
							a {
								color: $white;
								line-height: 30px;
							}
						}
						
						&.-open {
							display: block;
						}
					}
				}
			}
		}
	}
	@include respond-to($screen-xs){
		height: 100%;
		margin: 0;
		&.-open {
			width: 100%;
		}
	}
}
	
	// /* SCROLLED  */
	// 
	// &.scrolled {
	// 	position: fixed;
	// 	background-color: $primary;
	// 
	// 	@include respond-to($screen-sm){
	// 		.alert-bar {
	// 			display: none;
	// 		}
	// 
	// 		&.-alert-bump {
	// 			.navbar-main {
	// 				margin-top: 2rem;
	// 			}
	// 		}
	// 	}
	// 
	// 	@include respond-to($screen-xs){
	// 		background-color: $primary;
	// 	}
	// }
	
	











