.home-hero {
	.kicker {
		color: $white;
		@include center-y;
		right: -10rem;
		font-weight: bold;
		pointer-events: none;
		font-size: 1.2rem;
		transform: translateY(-50%) rotate(-90deg);
		@include respond-to($screen-xs){
			display: none;
		}
	}
}

.hero-caption {
	@include absolute($l: 5rem, $b: 5rem);
	h1 {
		color: $white;
		margin-bottom: 0;
	}
	h3 {
		color: $white;
		float: left;
	}
	.btn {
		position: relative;
		margin-left: 180px;
		&:after {
			@include center-y;
			left: -150px;
			width: 0;
			height: 2px;
			content: "";
			background-color: $white;
			@include transition($transition);
		}
	}
	
	&:hover {
		.btn {
			color: $black;
			transition-delay: .2s;
			&:after {
				width: 150px;
			}
			&:before {
				width: 100%;
				transition-delay: .2s;
			}
		}
	}
	@include respond-to($screen-sm){
		width: 100%;
	}
	
	@include respond-to($screen-xs){
		.btn {
			margin-left: 150px;
			color: $black;
			&:after {
				left: -100px;
				width: 100px;
			}
			&:before {
				width: 100%;
			}
		}
		&:hover {
			.btn {
				&:after {
					width: 100px;
				}
			}
		}
	}
	
	@include respond-to($screen-xxs){
		bottom: 6rem;
		left: 3rem;
		width: auto;
		.btn {
			margin-left: 0;
			@include absolute($b:-3rem, $l: 0);
			&:after {
				display: none;
			}
		}
	}
}
