.gallery-mosaic {
	.mosaic-image {
		margin-top: 1rem;
		display: block;
		width: calc(33% - 2rem);
		margin: 0 1rem 2rem;
		overflow: hidden;
		cursor: url('../images/cursor-plus.svg') 35 25, auto;
		@include transition(all .6s ease-in-out);
			
		img {
			width: 100%;
			opacity: 1;
			@include transition(.6s ease-in-out);
		}
			
		&:hover {
			img {
				@include transform(scale(1.03));
				opacity: .9;
			}
		}
		
		&.intro-card {
			padding: 2rem;
			min-height: 600px;
			cursor: url('../images/cursor-circle-02.svg') 25 15, auto !important;
			h1 {
				font-size: 4rem;
			}
		}
	}
	
	@include respond-to($screen-md) {
		.mosaic-image {
			width: calc(50% - 2rem);
		}
	}
	
	@include respond-to($screen-xs) {
		.mosaic-image {
			width: 100%;
			margin: 1rem 0;
			&.intro-card {
				min-height: auto;
				padding: 2rem 1rem;
			}
		}
	}
}