.single-photo {
	padding: 8rem 0;
	position: relative;
	
	.photo-wrap {
		display: flex;
		.photo-content {
			width: 40%;
			padding: 3rem 6rem 0 6rem;
			position: relative;
			h1 {
				font-size: 4rem;
			}

			a {
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
			.kicker {
				@include absolute($r: -4rem, $t: 24rem);
				font-size: 1.2rem;
			}
		}
		.photo-full {
			position: relative;
			width: 60%;
			img {
				width: 100%;
			}
			.reveal {
				@include absolute($t: 0, $l:0);
				background-color: $white;;
				width: 100%;
				height: 100%;
				
				&.animate {
					height: 0;
				}
			}
		}
		
		&.-vertical {
			.photo-content {
				width: 50%;
				.post-navigation {
					bottom: 24rem;
				}
			}
			.photo-full {
				width: 50%;
			}
		}
	}
	
	
	
	@include respond-to($screen-md){
		padding: 8rem 0 2rem;
		.photo-wrap {
			flex-direction: column-reverse;
			.photo-content {
				width: 100%;
				padding: 3rem 2rem 0 2rem;
				h1 {
					font-size: 3rem;
				}
				.kicker {
					@include absolute($r: .5rem, $t: .5rem);
					transform: none;
				}
			}
			.photo-full {
				width: 100%;
				img {
					max-height: initial;
					width: 100%;
				}
			}
			
			&.-vertical {
				.photo-content {
					width: 100%;
					.post-navigation {
						bottom: 2rem;
					}
				}
				.photo-full {
					padding-left: 0;
					width: 100%;
				}
			}
		}
	}
	
	@include respond-to($screen-xs){
		.photo-wrap {
			.photo-content {
				.kicker {
					display: none;
				}
			}
		}
	}
}