.full-screen {
	width: 105%;
	height: 105vh;
	margin-top: -10px;
	margin-left: -10px;
	background-size: cover;
	filter: blur(5px);
	@include transition('1s, all, ease-in');
	
	&:hover {
		
		filter: blur(0);
	}
}


