.content-wrap {
	padding: 4rem 6rem;
	display: flex;
	flex-wrap: wrap;
	
	.post-content {
		width: 50%;
		padding: 2rem 6rem 0 2rem;
		
		h1 {
			font-size: 6rem;
		}
		
		.post-meta {
			@include light-heading();
			font-size: 1.2rem;
			margin-bottom: 2rem;
		}
		.social-share {
			margin-top: 1rem;
		}
		
		.cat-link {
			margin-left: 1rem;
		}
	}

	.post-image {
		width: 50%;
	}
  
  ol, ul {
    list-style: inherit;
    padding-left: 2rem;
    line-height: 2;
  }
  
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  
  @include respond-to($screen-sm) {
    padding: 4rem 2rem;
		.post-content {
			width: 100%;
			padding: 4rem 0;
			
			h1 {
				font-size: 5rem;
			}
		}
		.post-image {
			width: 100%;
		}
  }
  
  @include respond-to($screen-xs) {
    padding: 2rem;
    margin: 2rem 0;
		.post-content {
			padding: 2rem 0;
			h1 {
				font-size: 4rem;
			}
		}
  }
}

.archive-wrap {
	padding: 8rem 4rem;	
	.post-meta {
		margin: 1rem 0;
		.read-more {
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	
	.gallery-mosaic {
		.mosaic-image {
			cursor: url('../images/cursor-arrow-03.svg') 25 5, auto;
			&.intro-card {
				min-height: 400px;
			}
		}
	}
	
	@include respond-to($screen-sm){
		padding: 8rem 2rem;
		.gallery-mosaic {
			.mosaic-image {
				&.intro-card {
					min-height: auto;
				}
			}
		}
	}
}

.alignleft {
	float:left;
	margin: 0 15px 15px 0;
	@include respond-to($screen-xs){
		float:none;
	}
}

.alignright {
	float:right;
	margin: 0 0 15px 15px;
	@include respond-to($screen-xs){
		float:none;
	}
}

.content-404 {
	text-align: center;
	
	.pagenav {
		list-style: none;
		font-size: 1.1rem;
		line-height: 2;
	}
}



