.loop-wrap {
	display: flex;
	flex-wrap: wrap;
	@include respond-to($screen-sm) {
		display: inline-block;
	}
}

.blog-wrap {
  padding: 4rem 8rem;
  .loop-item {
    .loop-meta {
      color: $primary;
    }
  }
  
  @include respond-to($screen-sm) {
    padding: 4rem;
  }
  
  @include respond-to($screen-xs) {
    padding: 4rem 2rem;
  }
}
	
.loop-item {
	width: 33%;
	padding: 0 1rem;
	margin-bottom: 3rem;
	
	.loop-meta {
		color: $secondary;
		text-transform: uppercase;
		margin-bottom: 1rem;
	}
	
	.loop-thumb {
		position: relative;
		.photo-credit {
			@include absolute($r: 1rem, $b: 1rem);
		}
	}
	
	img {
		width: 100%;
	}
	
	.loop-title {
		font-size: 1.2rem;
		margin: 1rem 0 .5rem;
		a {
			color: $secondary;
		}
	}
	
	.loop-content {
		margin-bottom: .5rem;
	}
	
	@include respond-to($screen-sm) {
		width: 100%;
		padding: 0;
		margin-bottom: 4rem;
	}
}




