.post-content {
	margin: 4rem 0;
  padding: 0 6rem;
  max-width: 1000px;
  
  ol, ul {
    list-style: inherit;
    padding-left: 2rem;
    line-height: 2;
  }
  
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  
  @include respond-to($screen-sm) {
    padding: 4rem;
  }
  
  @include respond-to($screen-xs) {
    padding: 2rem;
    margin: 2rem 0;
  }
}

.alignleft {
	float:left;
	margin: 0 15px 15px 0;
	@include respond-to($screen-xs){
		float:none;
	}
}

.alignright {
	float:right;
	margin: 0 0 15px 15px;
	@include respond-to($screen-xs){
		float:none;
	}
}

.content-404 {
	text-align: center;
	
	.pagenav {
		list-style: none;
		font-size: 1.1rem;
		line-height: 2;
	}
}



