@font-face {
    font-family: 'Blackstock';
    src: url('../fonts/Blackstock.woff2') format('woff2'),
        url('../fonts/Blackstock.woff') format('woff'),
        url('../fonts/Blackstock.svg#Blackstock') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Blackport';
    src: url('../fonts/TheBlackportSansStamp.woff2') format('woff2'),
        url('../fonts/TheBlackportSansStamp.woff') format('woff'),
        url('../fonts/TheBlackportSansStamp.svg#TheBlackportSansStamp') format('svg');
    font-weight: 900;
    font-style: normal;
}
