.dev-template {
    background-color: color('black');
    color: color('white');
    cursor: url('../assets/images/cursor-circle.svg') 25 15, auto !important;

  .navbar-brand {
    .icon {
      color: color('white');
    }
  }

  .navbar-hamburger {
    cursor: url('../assets/images/cursor-arrow-02.svg') 25 5, auto;
    &:after, &:before, span {
      background-color: color('white');
    }
  }

  a {
    color: color('white');
    text-decoration: none;
    cursor: url('../assets/images/cursor-arrow-02.svg') 25 5, auto;
  }

  .footer {
    a {
      color: color('white');
    }
  }

  .reveal-wrap, .mosaic-image {
    .reveal {
      background-color: color('black');
    }
  }
}






