h1, .h1,
h2, .h2 {
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 1.15;
}

h1, .h1 {
  font-size: var(--font-size-h1);
  margin-bottom: 0.25em;
  font-weight: 700;
}
h2, .h2 {
  font-size: var(--font-size-h2);
  margin-bottom: 0.5em;
  font-weight: 600;
}
h3, .h3 {
  font-family: var(--font-light-heading);
  font-size: var(--font-size-h3);
  font-weight: 400;
  margin-bottom: 0.33em;
  line-height: 1.2;
}
h4, .h4 {
  font-family: var(--font-light-heading);
  font-weight: 400;
  font-size: var(--font-size-h4);
  margin-bottom: 0.25em;
  line-height: 1.2;
}

// .prehead
// .subhead
// .lead
// .footnote

.text-sm {
  font-size: var(--font-size-sm);
  line-height: inherit;
}
.text-xs {
  font-size: var(--font-size-xs);
  line-height: inherit;
}

.text-lg {
  font-size: var(--font-size-lg);
  line-height: inherit;
}


.photo-credit {
  position: absolute;
  right: space(1);
  bottom: space(1);
  z-index: 5;
  font-size: .9rem;
}