.flex-image-columns {
  padding: 8rem 6rem;
  
  .column-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    
    .column-date {
      color: $secondary;
    }
    
    .column-text {
      width: 55%;
      padding-right: 4rem;
    }
    
    .column-image {
      width: 45%;
      position: relative;
      img { 
        width: 100%; 
      }
    }
  }
  
  div:nth-of-type(even){
    flex-direction: row;
    .column-text {
      padding-left: 4rem;
    }
  }

  
  @include respond-to($screen-sm){
    padding: 4rem;
    .column-wrap {
      display: inline-block;
      .column-text {
        width: 100%;
        padding-right: 0;
      }
      
      .column-image {
        width: 100%;
        margin-bottom: 2rem;
      }
    }
    div:nth-of-type(even){
      .column-text {
        padding-left: 0;
      }
    }
  }
  
  @include respond-to($screen-xs){
    padding: 4rem 2rem;
  }
}