.flex-icon-columns {
  position: relative;
  
  .icon-wrap {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    
    .icon-column {
      padding: 30px;
      text-align: center;
      flex: 1;
      
      a {
        display: block;
      }
      
      .title {
        color: $white;
        @include transition($transition);
      }
      
      .icon-bubble {
        background-color: $white;
        @include border-radius(50%);
        width: 200px;
        height: 200px;
        margin: 0 auto;
        position: relative;
        @include transition($transition);
        
        img {
          max-width: 125%;
          @include center;
          @include transition($transition);
        }
      }
    }
  }
}