.flex-form {
  padding: 4rem 0;
  position: relative;
  
  .form-wrap {
    padding: 0 12rem;
    .section-title, .section-text {
      text-align: center;
      margin-bottom: 4rem;
    }
  }
  
  &.-inline {
    min-height: 140px;
    .gform_wrapper { 
      @include inline-gform;
      display: inline-block;

        .gform_fields {
          .gfield {
            width: 33% !important;
          }
        }
    
      @include respond-to($screen-sm){
        &.gform_wrapper {    
          .gform_fields {
            .gfield {
              width: 100% !important;
            }
          }
        }
      }
    }
    
    .form-wrap {
      padding: 0 2rem;
      @include center;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      
      .section-title {
        text-align: left;
        margin: 2rem 1rem 2rem 0;
        font-size: 1.5rem;
        width: 30%
      }
      .form {
        width: 65%;
      }
    }
  }
  
  @include respond-max($screen-jumbo){
    &.-inline {
      .form-wrap {
        padding: 0 4rem;
        .section-title {
          margin: 1.5rem 2rem 2rem 0;
        }
        .form {
          width: 70%;
        }
      }
    }
  }
  
  
  @include respond-to($screen-md){
    .form-wrap {
      padding: 0 6rem;
    }
      &.-inline {
        
        .form-wrap {
          padding: 0 2rem;
          .section-title {
          }
        }
      }
    }
  
  @include respond-to($screen-sm){
    padding: 2rem;
    
    .form-wrap {
      padding: 0 4rem;
    }
    
    &.-inline {
      
      .form-wrap {
        display: inline-block;
        position: relative;
        left: 0;
        transform: none;
        width: 100%;
        .section-title {
          text-align: center;
          width: 100%;
        }
        
        .form {
          width: 100%;
        }
      }
    }
  }
  @include respond-to($screen-xs){

    .form-wrap {
      padding: 0;
    }
  }
}