%btn {
	background-color: $action-color;
	color: $white;
	@include copy-font;
	display: inline-block;
	padding: 10px 35px;
	border: none;
	font-size: 1rem;
	text-transform: uppercase;
	position: relative;
	z-index: 1;
}

%btn-active {
	color: $white;
}

.btn {
  @extend %btn;
  @include a-hover {
    @extend %btn-active;
  }
  &.active {
    @extend %btn-active;
	}
}
