%btn {
	background-color: transparent;
	color: $white;
	@include light-heading;
	display: inline-block;
	padding: 10px 35px;
	border: 2px solid $white;
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 1.2rem;
	text-transform: uppercase;
	position: relative;
	z-index: 1;
	
	&:before {
		content:'';
		@include absolute($t:0, $l: 0);
		width: 0;
		height: 100%;
		@include transition($transition all);
		z-index: -1;
		background-color: $white;
	}
}


%btn-active {
	color: $black;
}

.btn {
  @extend %btn;
  @include a-hover {
    @extend %btn-active;
  }
  &.active {
    @extend %btn-active;
	}
}
