.post-edit-link {
	text-align: center;
	padding: 8px 20px;
	text-transform: uppercase;
	@include fixed($b:0,$l:50%, $z:10000);
	margin-left: -75px;
	width: 150px;
	display: inline-block;
	background-color: turquoise;
	color: $white;
	font-weight: bold;
}