html {
	// overflow: hidden;
	height: 100vh;
	font-size: 16px;
	@include font-smoothing;
	@include respond-to($screen-sm){
		font-size: 14px;
	}
	
	@include respond-max($screen-jumbo){
		font-size: 18px;
	}
}

body {
	overflow: hidden;
	height: 100vh;
	width: 100%;
	@include copy-font;
	cursor: url('../images/cursor-circle.svg') 25 15, auto;
	
	&.internal-template {
		cursor: url('../images/cursor-circle-02.svg') 25 15, auto !important;
		overflow-y: auto;
	}
}

section {
	display: inline-block;
	width: 100%;
}




