/* COLORS */
$white: #FFF;
$black: #333;
$primary: #333; 
$secondary: #476931;


$body-copy: #444;
$link-color: $primary;
$heading-color: $primary;
$action-color: $secondary;

/* FONTS */

@mixin heading-font() {
	font-family: 'ivypresto-display', serif;
	font-weight: 700;
	font-style: normal;
}

@mixin light-heading() {
	font-family: 'Elegant-Lux', sans-serif;
	text-transform: uppercase;
	font-style: normal;
	font-weight: 400;
}

@mixin copy-font {
	font-family: 'raleway', sans-serif;
	font-weight: 400;
	font-style: normal;
}


/* SCREEN SIZE */
$screen-tiny: 480px;
$screen-xxs: 600px;
$screen-xs: 768px;
$screen-sm: 992px;
$screen-md: 1200px;
$screen-lg: 1350px;
$screen-xl: 1400px;
$screen-jumbo: 1680px;

/* GLOBAL DIMENSIONS */
$menu-height: 75px;
$mobile-menu-height: 50px;

/* INTERACTION */
$transition: .2s ease-in;
$transition500: .5s ease-in;

/* SLICK ICONS */
$slick-font-family: 'tmbr-icons' !default;
$slick-prev-character: "\f101" !default;
$slick-next-character: "\f102" !default;
$slick-dot-character: "";


