body:has(.home-hero), body:has(.home-split) {
  a {
    //cursor: url('../assets/images/cursor-arrow-02.svg') 25 5, auto;
  }
  .navbar-brand {
		.icon {
			color: white;
		}

    .tagline {
      color: white;
    }
    
    @include below('sm'){
      top: 2rem;
      left: 2rem;
    }
	}

  .navbar-hamburger {
		//cursor: url('../assets/images/cursor-arrow-02.svg') 25 5, auto;
    &.-collapsed {
      //cursor: url('../assets/images/cursor-arrow-03.svg') 25 5, auto;
      &:after, &:before, span {
        background-color: color('black');
      }
    }
		&:after, &:before, span {
			background-color: white;
		}

    @include below('sm'){
      top: 3rem;
      right: 2rem;
    }
	}
}
