.home-hero {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
	// .kicker {
	// 	color: white;
	// 	font-family: var(--font-light-heading);
	// 	text-transform: uppercase;
	// 	@include center-y;
	// 	right: -8rem;
	// 	font-weight: bold;
	// 	pointer-events: none;
	// 	transform: translateY(-50%) rotate(-90deg);

	// 	@include below('sm'){
	// 		display: none;
	// 	}
	// }

	.hero-slide {
		width: 100%;
		height: 100vh;
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		background-position: center center;
	}
}

.hero-caption {
  position: absolute;
  left: space(6);
  bottom: space(6);
	z-index: 10;
	h1 {
		color: white;
		margin-bottom: 0;
	}
	h3 {
		color: white;
		float: left;
	}
	.button {
		position: relative;
		margin-left: 180px;
		&:after {
			@include center-y;
			left: -150px;
			width: 0;
			height: 2px;
			content: "";
			background-color: white;
			transition: all .25s;
		}
	}
	
	&:hover {
		.button {
			color: color('black');
			transition-delay: .25s;
			&:after {
				width: 150px;
			}
			&:before {
				width: 100%;
				transition-delay: .25s;
			}
		}
	}
  
	
	@include below('sm'){
		width: 100%;
		.button {
			margin-left: 50px;
			color: color('black');
			&:after {
				display: none;
			}
			&:before {
				width: 100%;
			}
		}
	}
}
