.home-hero {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;

	@keyframes fadeInAnimation {
			0% {
					opacity: 0;
			}

			100% {
					opacity: 1;
			}
	}

	.overlay {
		@include fill;
		background: rgb(0,0,0);
		background: linear-gradient(0deg, rgba(0,0,0,.8) 0%, rgba(0,0,0,0.2) 25%, rgba(0,0,0,0) 100%);
		z-index: 10;
		animation: fadeInAnimation ease .1s;
	}

	.hero-scroll {
		position: absolute;
		right: space(6);
		bottom: space(6);
		color: white;
		z-index: 40;
		animation: fadeInAnimation ease .1s;
		transform: rotate(-90deg);
		transition: all .3s ease-in-out;
		.icon {
      --icon-scale: 4;
    }

		&:hover {
			bottom: space(5);
		}
	}

	.hero-slide {
		width: 100%;
		height: 100vh;
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		background-position: center center;

		.mobile-image {
			display: none;
			z-index: 5;
		}
	}

	@include below('sm'){
		.hero-scroll {
			display: none;
		}
		.hero-slide {
			.mobile-image {
				display: inline;
				@include fill;
			}
		}
	}
}

.hero-caption {
  position: absolute;
  left: space(6);
  bottom: space(6);
	z-index: 10;
	animation: fadeInAnimation ease 1s;
	color: white;
	h3 {
		color: white;
		display: flex;
    align-items: center;
		.icon {
			transition: all .3s ease-in-out;
			--icon-scale: 1.5;
			margin-left: 1rem;
		}
	}
	// h3 {
	// 	color: white;
	// 	float: left;
	// }
	// .button {
	// 	position: relative;
	// 	margin-left: 180px;
	// 	&:after {
	// 		@include center-y;
	// 		left: -150px;
	// 		width: 0;
	// 		height: 2px;
	// 		content: "";
	// 		background-color: white;
	// 		transition: all .25s;
	// 	}
	// }


	
	&:hover {
		h3 {
			.icon {
				margin-left: 1.5rem;
			}
		}
		// .button {
		// 	color: color('black');
		// 	transition-delay: .25s;
		// 	&:after {
		// 		width: 150px;
		// 	}
		// 	&:before {
		// 		width: 100%;
		// 		transition-delay: .25s;
		// 	}
		// }
	}
  
	
	@include below('sm'){
		display: flex;
    flex-direction: column;
		left: 0;
		padding: 0 space(6) space(10);
		width: 100%;
		// .button {
		// 	margin-left: 0;
		// 	color: color('black');
		// 	&:after {
		// 		display: none;
		// 	}
		// 	&:before {
		// 		width: 100%;
		// 	}
		// }
	}

	@include below('xs'){
		bottom: space(6);
	}
}
