.icon {
  flex-shrink: 0;
  display: inline-flex;
  width: calc(var(--icon-scale, 1) * 1em);
  height: calc(var(--icon-scale, 1) * 1em);
  max-width: 100%;
  max-height: 100%;
  fill: var(--icon-color, currentColor);
  opacity: var(--icon-opacity, 1);
  transform: translate(var(--icon-x, 0), var(--icon-y, 0));
  pointer-events: none;
}
