.post-navigation {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  @include center-x;
  bottom: 2rem;
  
  .page-link {
    display: inline-block;
    vertical-align: text-bottom;
    position: relative;
    z-index: 10;
    a {
      color: white;
      text-decoration: none !important;
      position: relative;
      @include fill;
    }

    .icon {
      --icon-scale: 3;
    }

    &.-prev {
      transform: none;
      transition: all .5s;
      &:hover {
        transform: translate3d(-10px,0,0);
      }
    }
  
    &.-next {
      transform: none;
      // right: -6rem;
      transition: all .5s;
      a {
      }
      &:hover {
        transform: translate3d(10px,0,0);
      }
    }
  }
  
.counter {
  display: inline-flex;
  padding: 0 1rem;
  font-family: var(--font-heading);
  font-weight: bold;
  .post-number {
    font-size: 4rem;
  }
  
  .total {
    margin-top: 1rem;
    font-size: 1.8rem;
  }
}
  
.series-link {
  position: relative;
  font-family: var(--font-light-heading);
  font-size: 1.2rem;
  text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
  
  @include below('md'){
    margin-top: 4rem;
    position: relative;
    transform: none;
    left: auto;
  }
}