.related-products {
  h2 {
    text-align: center;
    font-size: var(--font-size-h3);
  }
  .product-slide {
    height: 500px;
    padding: 0 space(1);
    img {
      height: 100%;
    }
  }
  .slick-track
  {
      display: flex !important;
  }

}