#site-loader {
	@include fill;
	z-index: 1000;
	background-color: white;
	transition: 1s ease-in-out;
	transition-delay: 2.5s;
	//cursor: url('../images/cursor-hourglass-02.svg') 25 15, auto;
	
	.loader-wrap {
		@include center;
		width: 100%;
		text-align: center;
		transition: .3s ease-in-out;
		transition-delay: 3s;
		padding: 0 2rem;
	}
	
	.loader-title {
		margin-top: space(1);
		opacity: 0;
		animation: fadein 1s ease-in-out forwards;
		@keyframes fadein {
			to {
				opacity: 1;
			}
		}
	}
	
	svg {
		width: 300px;
		opacity: 1;
		transition: .5s ease-out;
		transition-delay: 3s;
		margin: 0 auto;
		.ess {
			stroke-dasharray: 450;
			stroke-dashoffset: 450;
			animation: draw 2.5s ease-in-out forwards;
			animation-delay: 1s;
		}
		
		.dubs {
			stroke-dasharray: 450;
			stroke-dashoffset: 450;
			animation: draw 1.75s ease-in-out forwards;
			animation-delay: 1s;
		}
		
		.slash {
			stroke-dasharray: 450;
			stroke-dashoffset: 450;
			animation: draw .5s linear forwards;
			animation-delay: .5s;
		}
	}
	
	@keyframes draw {
	  to {
	    stroke-dashoffset: 0;
	  }
	}

	&.-loaded {
		opacity: 0;
		pointer-events: none;
	}

	// &.-loaded {
	// 	width: 0;
	// 	z-index: -1;
	// 	.loader-wrap {
	// 		opacity: 0;
	// 	}
	// 	svg {
	// 		opacity: 0;
	// 	}
	// 	.loader-title {
	// 		opacity: 0;
	// 	}
	// }
	

}