.single-product {
 
  .woocommerce-product-gallery {
    display: none;
  }
  
  .woocommerce-Tabs-panel--additional_information {
    display: none !important;
  }

  .summary {
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;

    .woocommerce-product-details__short-description {
      margin-bottom: space(4);
    }

    > * {
      width: 100%;
    }
    .price {
      display: none;
    }

    .product_meta {
      display: none;
      order: -1;
      margin-bottom: space(6);
    }

    .sku_wrapper {
      display: none;
    }

    .stock in-stock {
      color: color('black')  !important;
    }

    .variations {
      margin-bottom: space(4);
      select {
        border: 1px color('black')  solid !important;
        padding: .5em;
      }

      tr {
        display: flex;
        flex-wrap: wrap;
      }
      th {
        text-align: left;
        width: 100%;
        margin-bottom: space(2);
        label {
          font-weight: 400 !important;
        }
      }

      .value {
        width: 400px;


      }
      @include below('md'){
        .value {
        width: auto;
        }
      }
    }
    .quantity .qty {
      padding: .4em;
    }
  }

  .woocommerce-variation {
    margin-bottom: space(4);
    .price {
      display:inline-block;
    }
    .woocommerce-Price-amount {
      font-size: 1.5rem;
    }
  }

  .variations_button {
    .quantity {
      display: none !important;
    }
  }

  .type-product {
    display: flex;
    flex-wrap: wrap;
  }

  .woocommerce-tabs {
    order: -1;
    margin-bottom: space(4);

    .wc-tabs {
      display: none;
    }
    .additional_information_tab {
      display: none !important;
    }
    
    .woocommerce-Tabs-panel--description {
      h2 {
        display: none;
      }
    }
  }

  .related {
    display: none;
    h2 {
      font-size: 3rem;
      margin-top: 3rem;
    }
  }

  @include below('md'){
    .post-content {
      order: 2;
    }

    .post-image {
      order: 1
    }
  }
}

.woocommerce button.button.alt {
  background-color: color('black') ;
  &:hover {
    background-color: #888;
  }
  &.disabled {
    background-color: #999;
    &:hover {
      background-color: #888;
    }
  }
}

.term-description {
  padding: 6rem 6rem;
  @include below('md'){
    padding: 4rem 1rem;
  }
}


.woocommerce {
  .button {
    font-family: var(--font-body);
  }
  &.columns-4 {
    padding: 0 6rem;
    @include below('md'){
      padding: 0 1rem;
    }
  }
}
.woocommerce {
  .woocommerce-cart-form, .woocommerce-checkout {

      padding: 6rem 6rem;
      @include below('md'){
        padding: 4rem 1rem;
      }

      &.columns-4 {
        padding: 6rem 6rem;
        @include below('md'){
          padding: 4rem 1rem;
        }
      }
    }

    .cart-collaterals .cart_totals {
      @include below('md'){
        padding: 0 1rem;
      }
    }

  .wc-proceed-to-checkout a.checkout-button {
    background-color: color('black') ;
    &:hover {
      background-color: #888;
    }
  }

  .woocommerce-billing-fields__field-wrapper, 
  .woocommerce-shipping-fields__field-wrapper {
    input {
      border: 1px #ccc solid;
      padding: 0.5em;
    }
  }

  #order_review_heading {
    margin-top: 3rem;
  }

  .woocommerce-shipping-fields {
    @include below('md'){
      margin-top: 3rem;
    }
  }
}


.woocommerce-order {
  h2 {
    font-size: 2.5rem !important;
  }
}
