.post-navigation {
  width: 100%;
  padding: 2rem 4rem;
  text-align: center;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  
  .icon {
    font-size: 1.3rem;
  }
  
  .page-link {
    display: inline-block;
    &.-prev {
      transform: none;
      @include transition($transition);
      &:hover {
        transform: translate3d(-10px,0,0);
        .icon {
          color: $black
        }
      }
    }
  
    &.-next {
      transform: none;
      @include transition($transition);
      &:hover {
        transform: translate3d(10px,0,0);
        .icon {
          color: $black
        }
      }
    }
  }
  
  .counter {
    display: inline-flex;
    padding: 0 3rem;
    @include heading-font();
    margin-top: 1rem;
    .post-number {
      font-size: 4rem;
    }
    
    .total {
      margin-top: 1rem;
      font-size: 1.8rem;
    }
  }
}