.social-share {
  margin-top: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  @include light-heading();
  .share-link {
    margin: 0 .5rem;
    position: relative;
    text-decoration: none;
    &:before {
      content:'';
      @include absolute($t:0, $l: 0);
      width: 0;
      height: 100%;
      @include transition($transition all);
      z-index: -1;
      background-color: $black;
    }
    
    &:hover {
      color: $white;
      &:before {
        width: 100%;
      }
    }
  }
}