.grid {
  --cols: var(--grid-cols);
  --size: var(--grid-size);
  --row-gap: var(--grid-row-gap, var(--grid-gap));
  --col-gap: var(--grid-col-gap, var(--grid-gap));
  --clamp: clamp(100% / var(--cols) - var(--col-gap), var(--size), 100%);

  display: grid;
  grid-template-columns: repeat(var(--grid-repeat, auto-fill), minmax(var(--clamp), 1fr));
  gap: var(--row-gap) var(--col-gap);

  &\:cols-2 { --grid-cols: 2; }
  &\:cols-3 { --grid-cols: 3; }
  &\:cols-4 { --grid-cols: 4; }
  &\:cols-5 { --grid-cols: 5; }
}
